@import "./reset.css";

body {
    font-family: "Maven Pro", "Noto Sans KR", sans-serif
}
/*
body::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #f9c02d;
    position: fixed;
    left: 0;
    top: 207px;
}
*/
/*
.header-wrap {
    max-width: 1190px; 
    margin: 0 auto;
}
*/
.header-top {
    width: 1190px; /* 블럭요소의 기본 폭 */
    margin: 0 auto;
    position: relative;
    height: 210px;
}
.links {
    position:absolute;
    left: 0;
    top: 70px;
}
.links a {
    color: #666;
    font-weight: 500;
    transition: all .4s
}
.links a:hover {
    color: #000
}
.links a::after {
    content: '|';
    margin: 0 10px;
}
.links a:nth-last-child(1)::after {
    content: '';
    margin: 0;
}
.main-logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
}
.sns {
    position: absolute;
    right: 0;
    top: 70px;

}

nav {
    border-top: 2px solid #f9c02d;
    position: relative;
    top:-3px;
}
#gnb {
    width: 500px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
/* 
    선택자 선택자 : 후손 선택자
    선택자 > 선택자 : 자손 선택자
*/
#gnb li {
   display: inline-block;
   margin: 0 10px;
}
#gnb li a {
    font-size: 1.125rem; 
    font-weight: 700; /* 100~900 단위없는 숫자값, thin, bold, bolder 키워드 */
    color: #f9c02d;
    transition: all .4s ease-in-out;
}
#gnb li a:hover {
    color: #000;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%
}

#movie {    
    position: absolute;    
    width: 100%;    
    height: 100%;
    left: 0;
    top: 0;
}

.main-character {
    position: absolute;
    left: 50%;
    margin-left: -189px;
    bottom: -140px;  /* 영상 경계 아래, 다리~엉덩이 사이 위치 */
}

.article-title {
    text-align: center;
    text-transform: capitalize;   /* 텍스트-변형: 첫글자 대문자 */
    margin: 150px 0 20px 0;
}
.chars {
    max-width: 926px;
    margin: 0 auto;
    font-size: 0; 
    overflow: hidden;  /* side effect, 원래의 의도는 아니지만 어쨌거나 해결됨 */
}
.chars li {
    float: left;
}
.chars li img {
    border: 1px solid #f9c02d;
}

aside {
    background: #f9c02d;;
}

.event {
    max-width: 920px;
    margin: 100px auto;
}

.footer-wrap {
    max-width: 1190px;
    margin: 0 auto;
    position: relative;
}
.extra-links li{
    display: inline-block;
}
.extra-links li a {
    font-size: 0.9375rem;
    color: #888;    
}
.copyright {
    font-size: 0.6875rem;
    color: #888
}
.sub-logo {
    position: absolute;
    right: 0;
    top: 0;
}


/* about page style */

.series, .series2  {
    max-width: 1190px;
    margin: 0 auto;
}
.series-title {
    width: 250px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    background-color: #f9c02d;
    color: black;
    margin: 30px auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 9px rgb(236, 232, 135);
    padding: 10px;
}

.poster, .poster2 {
    text-align: center;
    float: left;
    width: 40%;
    overflow: hidden;
}
.poster img, .poster2 img {
    width: 400px;
    height: 600px;
}
.exp, .exp2 {
    float: right;
    width: 60%;
    overflow: hidden;
}
.exp p:nth-child(1), .exp2 p:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
    margin: 40px 0;
}
.exp p, .exp2 p {
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding-left: 10px;
}
.exp-but, .exp-but2 {
    background-color: #f9c02d;
    width: 200px;
    text-align: center;
    margin-top: 40px;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px;
    color: white;
    transition: .4s;
}
.exp-but:hover, .exp-but2:hover {
    color: black;
}

.series-video, .series-video2 {
    text-align: center;
    margin: 150px;
}

.footer-wrap {
    margin-top: 50px;
}